header {
  text-align: center;
  margin-bottom: $spacing-xxlarge;
  @include fade-in-down;

  h1 {
    font-size: $font-size-xxlarge;
    font-weight: 700;
    @include text-gradient;
    margin-bottom: $spacing-small;

    @include mobile {
      font-size: 2rem;
    }
  }
}

.subtitle {
  color: $text-secondary;
  font-size: $font-size-large;
  font-weight: 300;

  @include mobile {
    font-size: $font-size-base;
  }
}
