@use 'variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin terminal-focus {
  outline: none;
  background-color: $color-text-accent;
  color: $color-bg-global;
  font-weight: bold;
}

@mixin scrollbar-dark {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $color-bg-panel;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-border;
    border-radius: 3px;
  }
}
