
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $brand-dark;
    color: $text-primary;
    font-family: $font-sans;
    line-height: 1.6;
    position: relative;
    overflow-x: hidden;
}
