
.hero-title {
    font-size: clamp(2rem, 4.5vw, 4.5rem);
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 1rem;
    background: linear-gradient(
        110deg,
        $brand-purple 0%,
        $brand-light-purple 35%,
        #E0C3FF 50%,
        $brand-light-purple 65%,
        $brand-purple 100%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer 6s linear infinite;
    text-shadow: 0 0 10px rgba(160, 96, 255, 0.5);
}

.hero-subtitle {
    font-size: clamp(.5em, 1.5vw, 1.1rem);
    color: $text-secondary;
    font-weight: 500;
	font-style: italic;
    margin-bottom: 0;
}

.hero-quote {
    max-width: 800px;
    margin: 0 auto;
    font-size: clamp(0.8em, 1.5vw, 1.50rem);
    font-style: italic;
    color: $text-primary;
    border-left: 1px solid $brand-purple;
    padding-left: 1.5rem;
    text-align: left;
}

.section-title {
    font-size: clamp(1.75rem, 3.25vw, 3.25rem);
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}

.card-title {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 700;
    color: $brand-light-purple;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.75rem;
    width: 100%;

    i {
        font-size: 1.2em;
    }
}

.card-description {
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: $text-primary;
    margin-bottom: 1rem;
	font-style: italic;
    text-align: center;
    line-height: 1.8;
    max-width: 800px;
    padding: 0 1rem;
}

.card-quote {
    font-style: italic;
    color: $text-secondary;
    margin-bottom: 1rem;
}

.cta-description {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    color: $text-secondary;
}
