$font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
$font-size-xs: 0.625rem;
$font-size-sm: 0.6875rem;
$font-size-base: 0.8125rem;
$font-size-md: 0.9375rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
