// ==============================================
// BOOT SCREEN
// ==============================================
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.boot-screen {
  position: fixed;
  inset: 0;
  background: $bg-black;
  z-index: $z-boot;
  @include flex-center;
  color: $terminal-green;
}

.terminal-text {
  @include flex-column;
  gap: $space-3;
  font-family: $font-mono;
}

.typewriter {
  opacity: 0;
  animation: fadeIn $duration-normal forwards;

  &:nth-child(2) {
    animation-delay: 0.5s;
  }

  &:nth-child(3) {
    animation-delay: 1s;
  }
}
