@use '../abstracts/variables' as *;

.u-hidden { display: none !important; }
.u-mono   { font-family: $ff-mono; }
.u-muted  { color: $text-3; }
.u-flex-1 { flex: 1; }
.u-mt-2   { margin-top: 8px; }
.u-mt-3   { margin-top: 12px; }
.u-mt-4   { margin-top: 16px; }
