// ==========================================================================
// Modal Transitions
// ==========================================================================

#service-modal {
    opacity: 0;
    transition: opacity 0.3s ease;

    &.flex {
        opacity: 1;
    }

    #modal-content {
        transform: scale(0.95);
        transition: transform 0.3s ease;
    }

    &.flex #modal-content {
        transform: scale(1);
    }
}
