// ==========================================================================
// Reset / Base Styles
// ==========================================================================

@use '../abstracts/variables' as *;

html {
    display: flex;
    justify-content: center;
    min-height: 100%;
    scroll-snap-type: y mandatory;
}

body {
    font-family: $font-main;
    background-color: $color-bg;
    color: $color-text;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
        transform: translateZ(0);
        pointer-events: none;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
