/**
 * Uzumaki Component Styles
 * 3D spirograph canvas
 */

#uzumaki-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-canvas, 3);
    cursor: grab;
}

#uzumaki-canvas:active {
    cursor: grabbing;
}
