{
  "openapi": "3.0.3",
  "info": {
    "title": "Containers Control On-Demand API",
    "description": "REST API for oci-flex VM lifecycle management and Docker container control via SSH",
    "version": "1.0.0",
    "contact": {
      "name": "Diego Nepomuceno Marcos",
      "url": "https://diegonmarcos.com"
    }
  },
  "servers": [
    {
      "url": "https://api.diegonmarcos.com/api",
      "description": "Production API via NPM proxy"
    },
    {
      "url": "http://127.0.0.1:5000/api",
      "description": "Direct Flask access (internal only)"
    },
    {
      "url": "http://localhost:5000/api",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "vm",
      "description": "OCI Flex VM lifecycle (start, stop, reset, status)"
    },
    {
      "name": "containers",
      "description": "Docker container management on oci-flex via SSH"
    }
  ],
  "paths": {
    "/vms/{vmId}/status": {
      "get": {
        "tags": [
          "vm"
        ],
        "summary": "Get VM state (ping, SSH, OCI lifecycle)",
        "operationId": "vm_status",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          }
        ],
        "responses": {
          "200": {
            "description": "VM status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VmState"
                }
              }
            }
          },
          "404": {
            "description": "VM not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/start": {
      "post": {
        "tags": [
          "vm"
        ],
        "summary": "Start VM (OCI instance_action START / gcloud start)",
        "operationId": "vm_start",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          }
        ],
        "responses": {
          "200": {
            "description": "VM start initiated or already running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VmActionResult"
                }
              }
            }
          },
          "404": {
            "description": "Unknown VM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to start VM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/stop": {
      "post": {
        "tags": [
          "vm"
        ],
        "summary": "Stop VM (OCI instance_action STOP / gcloud stop)",
        "operationId": "vm_stop",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          }
        ],
        "responses": {
          "200": {
            "description": "VM stop initiated or already stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VmActionResult"
                }
              }
            }
          },
          "404": {
            "description": "Unknown VM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to stop VM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/reset": {
      "post": {
        "tags": [
          "vm"
        ],
        "summary": "Reset VM (SOFTRESET if running, START if stopped)",
        "operationId": "vm_reset",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          }
        ],
        "responses": {
          "200": {
            "description": "VM reset/reboot initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VmActionResult"
                }
              }
            }
          },
          "400": {
            "description": "Cannot reset VM in current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Unknown VM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/containers": {
      "get": {
        "tags": [
          "containers"
        ],
        "summary": "List all Docker containers on VM",
        "operationId": "containers_list",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          }
        ],
        "responses": {
          "200": {
            "description": "Container list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "containers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Container"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "VM not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "VM not reachable via SSH",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/containers/{containerName}/start": {
      "post": {
        "tags": [
          "containers"
        ],
        "summary": "Start container on VM",
        "operationId": "containers_start",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          },
          {
            "$ref": "#/components/parameters/containerName"
          }
        ],
        "responses": {
          "200": {
            "description": "Container started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerActionResult"
                }
              }
            }
          },
          "500": {
            "description": "Failed to start container",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/containers/{containerName}/stop": {
      "post": {
        "tags": [
          "containers"
        ],
        "summary": "Stop container on VM",
        "operationId": "containers_stop",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          },
          {
            "$ref": "#/components/parameters/containerName"
          }
        ],
        "responses": {
          "200": {
            "description": "Container stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerActionResult"
                }
              }
            }
          },
          "500": {
            "description": "Failed to stop container",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/containers/{containerName}/restart": {
      "post": {
        "tags": [
          "containers"
        ],
        "summary": "Restart container on VM",
        "operationId": "containers_restart",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          },
          {
            "$ref": "#/components/parameters/containerName"
          }
        ],
        "responses": {
          "200": {
            "description": "Container restarted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerActionResult"
                }
              }
            }
          },
          "500": {
            "description": "Failed to restart container",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/vms/{vmId}/containers/{containerName}/logs": {
      "get": {
        "tags": [
          "containers"
        ],
        "summary": "Get container logs",
        "operationId": "containers_logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/vmId"
          },
          {
            "$ref": "#/components/parameters/containerName"
          },
          {
            "name": "lines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of log lines to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Container logs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "container": {
                      "type": "string"
                    },
                    "logs": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Container not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "vmId": {
        "name": "vmId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "oci-p-flex_1",
            "oci-f-micro_1",
            "oci-f-micro_2",
            "gcp-f-micro_1"
          ]
        },
        "description": "VM identifier from architecture config"
      },
      "containerName": {
        "name": "containerName",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Docker container name"
      }
    },
    "schemas": {
      "VmState": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "oci-p-flex_1"
          },
          "name": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "format": "ipv4"
          },
          "ping": {
            "type": "boolean"
          },
          "ssh": {
            "type": "boolean"
          },
          "lifecycleState": {
            "type": "string",
            "enum": [
              "RUNNING",
              "STOPPED",
              "STARTING",
              "STOPPING",
              "TERMINATED"
            ]
          },
          "ram_percent": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "VmActionResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "action": {
            "type": "string",
            "enum": [
              "started",
              "stopped",
              "rebooted"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Container": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "running",
              "exited",
              "paused",
              "restarting",
              "created"
            ]
          },
          "image": {
            "type": "string"
          },
          "ports": {
            "type": "string"
          },
          "uptime": {
            "type": "string"
          }
        }
      },
      "ContainerActionResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "action": {
            "type": "string",
            "enum": [
              "started",
              "stopped",
              "restarted"
            ]
          },
          "container": {
            "type": "string"
          },
          "vm": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}