// ==========================================================================
// Animations
// ==========================================================================

@use '../abstracts/variables' as *;

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes flash-green {
  0% { background-color: rgba($color-text-green, 0.3); }
  100% { background-color: transparent; }
}

@keyframes flash-red {
  0% { background-color: rgba($color-text-red, 0.3); }
  100% { background-color: transparent; }
}
